.grid {
    border: solid 1px #e7e7e7;
}
.grid__row {
    display: flex;
    flex-direction: column;
}
.grid__centered {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}
.grid__item {
    flex: 1;
    padding: 12px;
    border: solid 1px #e7e7e7;
}
@media all and (min-width: 480px) {
    .grid__row--sm {
        flex-direction: row;
    }
}
@media all and (min-width: 720px) {
    .grid__row--md {
        flex-direction: row;
    }
}
@media all and (min-width: 960px) {
    .grid__row--lg {
        flex-direction: row;
    }
}
.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.flexbox-vert-item {
    width: 300px;
    background: #fefefe;
    margin-right: 20px;
    padding: 10px;
}
html, body {
    height: 100%;
    margin: 0px;
}