@import (less) "main-content.less";
@import (less) "location.less";
@import (less) "menu.less";
@import (less) "menu-expander.less";
@import (less) "order.less";
@import (less) "restaurants.less";

html, body {
  height: 100%;
  margin: 0px;
  background-image: url("../img/background.jpg");
  background-color: #cccccc;

}