.main-content {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .grid {
        border: solid 1px #e7e7e7;
    }
    .grid__row {
        display: flex;
        flex-direction: column;
    }
    .grid__centered {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 50%;
    }
    .grid__item {
        flex: 1;
        padding: 12px;
        border: solid 1px #e7e7e7;
    }
    @media all and (min-width: 480px) {
        #clip {
            position: absolute;
            clip: rect(0, 100px, 200px, 0);
            /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
        }
    }
    @media all and (min-width: 720px) {
        .grid__row--md {
            flex-direction: row;
        }
    }
    @media all and (min-width: 960px) {
        .grid__row--lg {
            flex-direction: row;
        }
    }
    .flexbox-container {

        align-items: center;
        justify-content: center;
        height: 100%;

    }
    .flexbox-center-item {
        width: 500px;
        flex: 1;

    }

    .flexbox-content-container {
        padding: 10px 10px 10px 10px;
        background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
        background: rgba(255, 255, 255, .5);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        flex: 1;
    }

    .centered{
        align-items: center;
        justify-content: center;
    }

    .header-border{
        border-bottom: solid;
        border-bottom-color: dimgray;
        border-bottom-width: 1px;
        background-color: white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        flex: 1;
    }

    .header-image-lg{
        content:url("../img/ThaiGarden-Logo-Dsktop.png");
        display: block; margin: 0 auto;
    }
    .header-image-md{
        content:url("../img/ThaiGarden-Logo@2x.png");
    }
    .header-image-sm{
        content:url("../img/ThaiGarden-Logo@1x.png");
        display: block; margin: 0 auto;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cart-logo-md {
        content: url("../img/Shopping Basket icon@2x.png");
    }

    .cart-logo-sm {
        content: url("../img/Shopping Basket icon.png");
    }

    .hidden {
        display: none;
    }

    .invisible {
        visibility: hidden;
    }

    .order-details table tr:last-child td {
        font-weight: bold;
    }

    // make sure the cart is behind page content and that it stays in place on scroll
    .shopping-cart {
        /* critical sizing and position styles */
         width: 100%;
         height: 100%;
         position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 0;
    }

    // make sure the site content completely covers the shopping cart
    .content-container {
        min-width: 100%;
        min-height: 100%;
        background-color: white; // or else cart will show through?
        position: relative;
        top: 0;
        bottom: 100%;
        left: 0;
        z-index: 1;
    }
}